body {
    background: rgb(158, 158, 158);
    margin: 0;
    padding: 0;
}

.container__box {
    display: none;
    background-color: #9fcdff;
    height: 200px;
    width: 480px;
    border-radius: 15px;
    margin: 20px 50px;
    border: 2px solid #000000;
    transition-duration: 1s;
}

.container__box__click {
    display: none;
    background-color:green;
    border-radius: 15px;
    margin: 20px 50px;
    border: 2px solid #000000;
    height: 240px;
    width: 520px;
    transition-duration: 1s;
}


.tariff_name {

    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 50px;
    font-size: 26px;

}


.container__name__delivery {
    display: flex;
    justify-content: center;
}

.container__time__delivery {
    display: flex;
    justify-content: center;
}

.delivery_sum {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 26px;
}

.calendar__min  {
    color: #000000;
    font-size: 26px;
}

.calendar__max {
    color: #000000;
    font-size: 26px;
}

span.dash {
    color: #000000;
}


button.btn_sdek {
    height: 50px;
    width: 200px;
    background-color: #9fcdff;
    font-size: 26px;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 20px 50px;
    transition-duration: 1s;

}

button.btn_sdek:hover {
    height: 70px;
    width: 220px;
    transition-duration: 1s;
}
